.navbar-brand-box img {
width: 120px;
    
}

.banner_cont .card-body {
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
    border: 2px solid #f9f9f9;
}
.iconos{

    font-size: 20px;

}

.iconos.bx-trash{

    color: red;

}

.iconos.bx-edit{

    color: #0083eb;

}

.tabla_cupones{
width: 600px;
margin: auto;
border: 1px solid #ccc;
}

.boton_agregar{

    float: right;
    margin-bottom: 20px;
}


.boton_agregar_cupon {
    float: right;
    margin-bottom: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.saldo_link{

    color: #ffbe5c !important;
    border-right: 1px solid;
    padding-right: 15px;
}