   
    body[data-topbar=dark] #page-topbar.anunciante {
   
        background-color: rgb(60, 91, 112);
    }
        body[data-topbar=dark] .header-profile-user {
        backgsround-color: #fff;
    }
    .top10trans{

        font-size: 11px;

    }
    .top10trans table{

    padding: 0.55rem 0.75rem;
}
    .box_resumen i{
        
        position: absolute;
        right: 15px;
        bottom: 15px;
        background: #97f1ff99;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        color: #2facd3;
        font-size: 24px;
        align-items: center;
    }
    
    .box_resumen#total-amount i {
        position: absolute;
        right: 15px;
        bottom: 15px;
        background: #ffb5da99;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        color: #ff6eb0;
        font-size: 24px;
        align-items: center;
    }
    
    .box_resumen#visitas-sum i {
        position: absolute;
        right: 15px;
        bottom: 15px;
        background: #ffd19799;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        color: #e7a460;
        font-size: 24px;
        align-items: center;
    }
    
    .box_resumen#conversion-ratio i {
        position: absolute;
        right: 15px;
        bottom: 15px;
        background: #8268d361;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        color: #9255c8;
        font-size: 24px;
        align-items: center;
    }
    
    .box_resumen#afiliados-count i {
        position: absolute;
        right: 15px;
        bottom: 15px;
        background: #7ddaba99;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        color: #34a57d;
        font-size: 24px;
        align-items: center;
    }
    
    .box_resumen em {
        padding-right: 40%;
        display: block;
        font-size: 11px;
        
    }
    
    .box_resumen b{
        font-size: 22px;
        font-weight: normal;
        margin-bottom: 0px;
        display: block;
        
    }
    
    #table-container td {
        padding: .55rem .55rem !important;
    
    }
     .img-responsive{
            width: 130px !important;
        }