.bg-soft-winwin {
    background-color: rgb(19 22 38)!important;
}
.bg-soft-winwin img{
    width: 60%;
}

.btn-primary {
    color: #fff;
    background-color: #f1b44c !important;
    border-color: #f1b44c !important;
}